body {
    width: 80vw;
    height: 80vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

}

.inputfield {
    position: relative;
    width: 30vw;
    max-height: 10vh;
    min-height: 6vh;
    margin-bottom: 2vh;
    text-align: center;
    border-radius: 5px;
}

.button {
    width: 30vw;
    height: 8vh;
    margin-bottom: 2vh;
    background-color: #8bc34a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 5px;

}

.roundButton{
    width: 10vh;
    height: 5vw;
    margin-bottom: 2vh;
    background-color: #bcca1d;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid;
    border-color: #ffffff;
    margin-top: 0;
    position: absolute;
    float: right;
}

button:hover {
    background-color: #2c3e50;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main {
    background-color: #dce9e0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
}
.menu-link{
    text-decoration: none;
    font-size: 1vw;
    color: #ffffff;
    font-family: "Lucida Sans Unicode";
}

ul{
    padding: 0;
    margin-top: 0;
}

.menu-item{
    list-style-type: none;
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 9px 0;
    background-color: #2c3e50;
}


nav a:hover {
    background-color: #8d9791;
}

nav a:active{
    background-color: #8bc34a;
}

.menu {
    width: 20vw;
    height: 93vh;
    position: absolute;
    background-color: #2c3e50;
    left: -20vw;
    transition: all .3s ease-in-out;
    top: 7vh;
    z-index: 5;
}

.menu-icon{
    width: 3%;
    height: 7vh;
    background:#8bc34a;
    color: #ffffff;
    cursor: pointer;
    position:absolute;
    font-size: 20px;
    z-index: 4;
    left: 0;
    transition: all .3s ease-in-out;
    padding-left: 10px;
}

.menu-icon:hover{
    color: #2c3e50;
}

.menu-header{
    margin: 0;
    padding: 0;
}

.menu-title{
    color: #ffffff;
}

#menuToggle{
    display: none;
}

#menuToggle:checked ~ .menu{
    position: absolute;
    left: 0;
}

#menuToggle:checked ~ .content {
    width: 79vw;
    height: auto;
    float: right;
    position: relative;
    margin:0 auto;
}

#menuToggle:checked ~ .dashboard-elem-large{
    float: none;
}

.site-header{
    width: 100%;
    height: 7vh;
    position: fixed;
    background-color: #8bc34a;
    float: right;
    transition: all .3s ease-in-out;
    z-index: 3;
    margin-bottom: auto;
}

.logo{
    width: 50%;
    height:auto;
    position:relative;
    top: 5px;
}

.content{
    width: 100%;
    height: 100%;
    position: relative;
    text-align:center;
    background-color: #dce9e0;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

.dashboard{
    text-align: center;
    visibility: visible;
    position: absolute;
    top: 7vh;
}

.dashboard-elem{
    width:18.3vw;
    height: 15vh;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0.228%;
    margin-right: 0.228%;
    margin-top:2%;
    background-size: contain;
    background-repeat: no-repeat;
}

.mail-im{
    background-image: url("./images/mail_icon.png");
}

.guests-im{
    background-image: url("./images/person_icon.png");
}

.arrival-im{
    background-image: url("./images/enter_icon.png");
}

.departure-im{
    background-image: url("./images/exit_icon.png");
}

.tab-top{
    width: 100%;
    height: 20%;
    position: relative;
    box-shadow: 0px 6px 5px rgba(136, 136, 136, 0.36);
    border-radius: 2px;
}

.tab-side{
    width: 30%;
    height:100%;
    position:relative;
    text-align: center;
    box-shadow: 6px 0px 5px rgba(136, 136, 136, 0.36);
    border-radius: 2px;
}

.weather-tab-top{
    width: 100%;
    height: 45%;
    position: relative;
    box-shadow: 0px 6px 5px rgba(136, 136, 136, 0.36);
    background-color: #bcca1d;
}

.weather-elem{
    width:24.5%;
    height: 45%;
    position: relative;
    display: inline-block;
    margin: 2.5% auto;
    float: left;

}

.separation-elem{
    border-right:1px solid #c4cec8;
}

.menu-image{
    width: 10%;
    height: auto;
    position:relative;
}

.icon-image{
    width:20%;
    height: auto;
    position: relative;
}

.first-tab{
    background-color: #2196f3;
}

.second-tab{
    background-color: #19c37b;
}

.third-tab{
    background-color: #4caf50;
    position: relative;
}

.fourth-tab{
    background-color: #f44336;
    position: relative;
}

.fifth-tab{
    background-color: #ffa00e;
    position: relative;
}

.sixth-tab{
    background-color: #bcca1d;
    position: relative;
}

.tab-image{
    position: relative;
    width: auto;
    height: 70%;
    float: right;
    margin-top:0;
}

.small-tab-title{
    margin:0 auto;
    color: #ffffff;
    position: relative;
    float: right;
    margin-right: 5%;
    font-family: "Lucida Sans Unicode";
}

.medium-tab-title{
    margin:0 auto;
    color: #ffffff;
    position: relative;
    font-family: "Lucida Sans Unicode";
}

.tab-content{
    color: #303030;
    position: relative;
    font-family: "Lucida Sans Unicode";
    font-size: 100%;
    float: left;
    margin: 0 auto;
}

.dashboard-elem-large-large{
    width: 70.2vw;
    height: 60vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    margin-left: 2.5%;
    margin-right: 0.228%;
    margin-top:1%;
    margin-bottom:0;
}

.dashboard-elem-large{
    width: 37.2vw;
    height: 60vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    margin-left: 2.5%;
    margin-right: 0.228%;
    margin-top:1%;
    margin-bottom:0;
    float: left;
}

.dashboard-elem-medium{
    width: 37.2vw;
    height: 29vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0.5%;
    margin-right: 0.228%;
    margin-top:1%;
    margin-bottom:0;
    float: left;
}

.tasksList{
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

.tasksItem{
    font-size: large;
    text-decoration: none;
    font-family: "Lucida Sans Unicode";
    margin-top: 1%;
    color: #8d9791;
}

.medium-first{
    background-color:#05979d ;
}

.medium-second{
    background-color: #ff3c54;
}

.cashier{
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.reservations{
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.facilities{
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.tasks{
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.mail{
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.business{
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.graph-canvas{
    width: 70%;
    height: 100%;
    position: relative;
    float: right;
}

.reservations-list{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}

.reservations-button{
    width: 15%;
    height: auto;
}

.tasksItem:hover{
    background-color: #bcca1d;
}

.tasksItem.selected{
    background-color: #bcca1d;
}

.active{
    background-color: #4caf50;
}